<ul>
    {% for p in pages.children.visible %}
    {% set current_page = (p.active or p.activeChild) ? ' active' : '' %}
    <li class="menu-item{{ current_page }}">
        <a href="{{ p.url }}">{{ p.menu }}</a>
    </li>
    {% endfor %}
</ul>
