<!-- Contact From Study Sections 
    =========================-->
<section class="contact-form">
    <div class="container">
        <div class="row">
            {{ partial "bookshop" (slice "generic/heading" .heading )}}
            <form action="" method="POST">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" name="Sujet" class="form-control" placeholder="Sujet" required>
                    </div>
                    <div class="form-group">
                        <input type="email" name="Courriel" class="form-control" placeholder="Courriel" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="Nom" class="form-control" placeholder="Nom" required>
                    </div>
                </div>
                <div class="col-md-6 margin-0">
                    <div class="form-group">
                        <textarea name="Message" class="form-control " rows="3" placeholder="Message" required></textarea>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="contact-btn text-center">
                        <input class="btn btn-default btn-main" type="submit" value="{{ .button_content }}">
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>