{{ partial "bookshop_bindings" `.Params.hero_blocks` }}
{{ partial "bookshop_partial" (slice "page" .Params.hero_blocks) }} 

<section data-pagefind-ignore class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{ partial "bookshop_bindings" `.Params.content_blocks` }}
                {{ partial "bookshop_partial" (slice "page" .Params.content_blocks) }} 
                <div class="protfolio-mixitup-btn text-center">
                    <button class="filter btn btn-default btn-main active" data-filter="all">all</button>
                    {{range $name, $taxonomy := .Site.Taxonomies.category}}
                        {{ partial "bookshop_bindings" `(dict "live_render" false)` }}
                        {{ partial "bookshop" (slice "generic/filter-button" (dict "category" $name )) }}
                    {{end}}
                </div>
                <div id="Container" class="filtr-container row">
                    {{ range (.Paginator (len (where .Site.Pages "Section" "portfolios"))).Pages }}
                            <div class="filtr-item col-md-4 col-sm-6 col-xs-12" data-category="{{ .Params.category }}">
                                <div class="portfolio-list">
                                    <a data-toggle="modal" data-target="#{{ .File.TranslationBaseName }}">
                                        <div class="th-mouse-portfolio-card">
                                            <div class="thumbnail portfolio-thumbnail">
                                                <img src="{{ .Params.image }}" alt="{{ .Params.image_alt }}">
                                                <div class="caption portfolio-caption">
                                                    <p class="date">{{ .Date.Format "02.01.2006" }}</p>
                                                    <h3 class="portfolio-title">{{ .Params.title }}</h3>
                                                    <p class="portfolio-subtitle">{{ .Params.subtitle }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <!-- event modal single -->
                            <div class="modal fade" id="{{ .File.TranslationBaseName }}" tabindex="-1" role="dialog">
                                <div class="modal-dialog modal-lg modal-dialog-centered">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                      <h4 class="modal-title" style="color: black; font-family:'Roboto', sans-serif;">{{ .Params.title }}</h4>
                                    </div>
                                    <div class="modal-body">
                                      
                                        <div class="row">
                                          <!-- event image -->
                                          <div class="col-md-12 mb-4">
                                            <img style="height: 500px;width: 100%;object-fit: cover;" src="{{ .Params.image | relURL }}" alt="{{ .Title }}" class="img-fluid w-100">
                                          </div>
                                        </div>
                                        <div class="row">
                                            <!-- border -->
                                          <div class="col-md-12">
                                            <span class="border-bottom"></span>
                                          </div>
                                        </div>
                                        <!-- event details -->
                                        <div class="row">
                                          <div class="col-md-12 mb-50 content" style="color: black; font-family:'Roboto', sans-serif;">
                                            {{ .Params.content }}
                                          </div>
                                        </div>
                                      
                                    </div>
                                  </div>
                                </div>
                              </div>
                    {{end}}
                </div>
            </div>
        </div>
    </div>
</section>